<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.van.gba"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> 
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.libsdl.app.SDLActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen">
        </activity>
        
        <activity
            android:name="com.van.gba.SelectGameActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.van.gba.SaveStateActivity"
            android:label="Save Game"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.van.gba.LoadStateActivity"
            android:label="Load Game"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity
            android:name="com.van.gba.GamesharkActivity"
            android:label="Load Game"
            android:configChanges="orientation|screenSize" >
        </activity>
        
        <activity android:name="com.google.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        
    </application>

</manifest>
